body {
	background: #eee;
}

p {
	margin: 1px 0;
}

p.linebreak {
	margin-bottom: 30px;
}

.button {
	margin: auto;
	text-align: center;
}

.main {
	text-align: center;
	width: 90%;
	margin: auto;
	height: auto;
}

.text {
	text-align: left;
}